<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /myreactapp/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /portfolio/world-maps-explorer/index.html [L]
</IfModule>
